
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2 {
  line-height: auto;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
ul, li a{
  list-style: none;
  text-decoration: none;
  list-style-position: inside;

}
img{
  width:100%
}

body {
  background-color: black;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.Page{
  height: 70vh;
  width: 100vw;
  color: white;
}
.Page1{
  background-color: black;
}

.manu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 80px;
  margin: 0px 10px 0px 10px;
  transition: 0.5s;
}
.navbar a:hover {
  border-bottom: rgb(35,150,232) 1px solid;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar ul {
  display: flex;
}
.main_txt{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-header-content{
  max-width: 900px;
  padding: 80px 48px 96px;
}

.Page1 .site-header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90%;
}

.img1{
  /* margin-top: 130px; */
  max-width: 152px;
  border-radius: 50%;
  align-items: center;
  opacity: 0.7;
  display: inline-block;
  width: 30vw;
}
.site-header-content h1 {
max-width: 900px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.Page1 .site-header-content h1 {
  font-size: 55px;
  margin: 20px;
  line-height: 3rem;

}
.Page1 .site-header-content h3 {
  font-size: 30px;
  margin: 20px;
  font-weight: 300;
  line-height: 2rem;
}

.Page1 .site-header-content p {
  font-size: 20px;
  margin: 20px 100px 30px;
  font-weight: lighter;
}
.Page1 .site-header-content p span {
  color: rgb(35,150,232);
}
.links-to-networks ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ion-icon{
  color: #fff;
  margin: 1vw;
  font-size: 41px;
}

@media (min-width: 700px) and (max-width: 930px){
  .navbar {
    max-width: 650px;
  }
  .Page1 .site-header-content h1{
    font-size: 40px;
  }
  .Page1 .site-header-content h3{
    font-size: 20px;
  }
  
  .Page1 .site-header-content p {
    font-size: 16px;
  }
  /* page 2 */
  .main_txt2 p{
    font-size: 12px;
    margin: 20px;
  }
  .main-header h1 {
    font-size: 30px;
  }
  .experience {
    margin: 0px 20px 0px 20px;
  }
  .experience li{
    font-size: 12px;
  }


}
@media (max-width: 700px){
  .navbar {
    max-width: 340px;
    font-size: 12px;
    margin: 0;
  }
  .navbar .logo{
    font-size: 12px;
  }
  .site-header-content{
    /* max-width: 3400px; */
    padding: 20px 10px 20px;
  }
  .site-title{
    text-align: center;
  }
  .img1{
    max-width: 90px;
    /* margin-top: 130px; */
  }
  .Page1 .site-header-content h1 {
    font-size: 25px;
    margin: 2px;
  }
  .Page1 .site-header-content h3 {
    font-size: 17px;
    margin: 5px;
  }
  
  .Page1 .site-header-content p {
    font-size: 12px;
    margin: 5px;
  }
  ion-icon{
    margin: 1vw;
    font-size: 20px;
  }
    /* page 2 */
    .main_txt2 p{
      font-size: 12px;
      margin: 0px;
    }
    .main-header{
      
    }
    .main-header h1 {
      padding: 0px;
      font-size: 30px;
    }
    .experience {
      margin: 0px;
      /* margin: 0px 20px 0px 20px; */
    }
    .experience li{
      font-size: 12px;
    }
}

/* PAGE2 */
.Page2{
  display: flex;
  justify-content: center;
  align-items:center;
  place-items: center;
  background-color: rgb(19,21,24);
  display: grid;
  grid-template-rows:repeat(3,auto) ;
  grid-template-areas:
  'main-header'
  'main_txt2'
  'experience';
}
.container2{
  max-width: 900px;
  box-sizing: content-box;
  text-align: center;
}
.main_txt2{
  margin-bottom: 50ox;
}
.main-header h1{
  text-align: center;
  grid-area:main-header ;
  margin-top: 20px;
  padding: 100px 100px 30px 100px;
}
.main_txt2 p{
  display: flex;
  justify-content: center;
  align-items:center;
  grid-area:main_txt ;
  margin: 20px 100px 30px;
  font-weight: lighter;
}
.experience{
  margin: 20px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.experience ul{
  display: flex;
  text-align: center;
  max-width: 900px;
  font-weight: lighter;
  list-style:circle;
  color: rgb(35,150,232);
  grid-area:experience ;
  display: grid;
  grid-template-columns:repeat(4,1fr) ;
  grid-template-rows:repeat(2,1fr) ;
  grid-template-areas:
  'col1-1 col2-1 col3-1 col4-1'
  'col1-2 col2-2 col3-2 col4-2';
 
}
.experience ul li{
  align-items: center;
  justify-content: center;
  text-indent: -5px;
  flex: 0 50%;
}
.experience li{
  margin: 0px 80px 0px -5px;
  padding: 0px 80px 0px -5px;
}
.experience li:hover {
  border-bottom: rgb(35,150,232) 1px solid;
}
.col1-1{
  grid-area: col1-1;
}
.col1-2{
  grid-area: col1-2;
}
.col2-1{
  grid-area: col2-1;
}
.col2-2{
  grid-area: col2-2;
}
.col3-1{
  grid-area: col3-1;
}
.col3-2{
  grid-area: col3-2;
}
.col4-1{
  grid-area: col4-1;
}
.col4-2{
  grid-area: col4-2;
}
/* PAGE3 */
.Page3{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: black;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.contact-form{
  display: flex;
  flex-direction: column;
  /* margin: 20px 400px; */
  gap: 20px;

}
input, textarea, button{
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 20px;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  border: 1px solid rgb(35,150,232);
  box-sizing: border-box;

}
input[type=text]{
  width: 100%;
}
button:hover{
  background-color: rgb(35,150,232);
}
.main-header:hover{
  border-bottom: rgb(35,150,232) 1px solid;
 
}